{% extends 'rentapp/base.html' %}
{% load static %}
{% block content %}
<section class="searchbox">
  <div class="hero">
    <div class="col-12 text-center my-5">
      <h3 class="text-light" style="font-family: 'Poppins', sans-serif; font-weight:600;">Search Beta Rent</h3>
    </div>
    <form id="searchBox" method="get" action="{% url 'search' %}">
      {% csrf_token %}
      <img src="{% static 'img/logo.png' %}" alt="Beta Rent logo" id="googleIcon">
      <input type="text" name="q" placeholder="Where do you want to live" />
      <button type="submit" class="bo border-0 bg-transparent"><i class='bx bx-search-alt-2 bx-lg text-dark'></i></button>
    </form>
  </div>
</section>

<section class="hot">
<div class="container">
  <div class="row">

    <div class="col-12">
      <h3 class="text-center" style="font-weight:900;"><i class='bx bxs-hot'></i> Top Spaces Today</h3>
    </div>
{% for post in featured %}
    <div class="col-md-4 p-4">
      <div class="border" style="box-shadow: 0 0  20px #eee;">
        <div class="d-flex p-3 justify-content-between">
          <div class="mt-2">
            <a href="#" class="d-block text-dark" style="line-height: .8; font-weight: 600;">{{post.location}}, {{post.county}}</a>
            {% for cat in list.categories.all %}
            <small><a href="#" class="text-info">{{ cat.title }}</a></small>
            {% endfor %}
          </div>

          <div class="mt-2">
            <a href="#" class="d-block text-dark border rounded p-1 border-info"><i class='bx bxs-crown bx-tada'></i>
              Featured</a>
          </div>
        </div>
        {% if post.list_img %}
        <a href="#"><img class="w-100" src="{{ post.list_img.url }}" alt="" style="height: 200px;"></a>
        {% endif %}
        <div class="px-3 py-4">
          <a href="#" class="d-block">
            <h5 class="text-dark h6" style="font-weight: 600;">{{post.location}}, {{post.county}}</h5>
          </a>
          <h4 class="text-danger">Ksh. {{post.rent}} <small class="text-danger">+ deposit</small></h4>

          <small class="mt-1">{{post.body}}</small>

        </div>
        <div class="p-3 bg-info" style="background: #00B4DB;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0083B0, #00B4DB);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
          <div class="d-flex mr-4 justify-content-between">
            <h2><a href="" class="text-light"><i class='bx bxs-phone-call'></i></a></h2>
            <h2><a href="" class="text-light"><i class='bx bxl-whatsapp'></i></a></h2>
            <h2><a href="" class="text-light"><i class='bx bx-envelope'></i></a></h2>
          </div>
        </div>
      </div>
    </div>
{% endfor %}


  </div>
</div>
</section>

<section class="b-foot section-padding-100-70">
  <div class="container">
    <div class="col-12 text-center">
      <h2 class="text-light" style="font-family:'Poppins', sans-serif;font-weight:900; text-shadow: 2px 2px #000000;">List or Rent a Place</h2>
      <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem itaque consectetur facilis quae sapiente possimus iure quos aperiam sequi ipsa tenetur officia distinctio, alias, repellat recusandae maxime ipsum nesciunt natus.</p>

      <div class="links mt-4">
        <a href="#" class="btn btn-outline-light">List out</a>
        <a href="#" class="btn btn-danger">Find Rentals</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}