{% extends 'rentapp/base.html' %}
{% load static %}
{% block content %}
<section class="section-padding-100-0">
  <div class="wrapper justify-content-center align-content-center">
    <div class="container">
      <form role="search" method="get" class="search-form form" action="{% url 'search' %}">
        <label>
          {% csrf_token %}
          <input type="search" class="search-field"
            placeholder="Search location, price, category (bedsitter, hostel, apartment)" name="q" />
        </label>
        <button type="submit" class="search-submit button" value="&#xf002"><i
            class='bx bx-search-alt bx-lg text-light'></i></button>
      </form>
    </div>
  </div>
</section>

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center" style="font-weight:900;"><i class='bx bxs-hot'></i>Featured</h3>
    </div>

    {% for post in featured %}
    <div class="col-md-4 p-4">
      <div class="border" style="box-shadow: 0 0  20px #eee;">
        <div class="d-flex p-3 justify-content-between">
          <div class="mt-2">
            <a href="#" class="d-block text-dark" style="line-height: .8; font-weight: 600;">{{post.location}},
              {{post.county}}</a>
            {% for cat in post.categories.all %}
            <small><a href="{% url 'category' cat.slug %}" class="text-info">{{ cat.title }}</a></small>
            {% endfor %}
          </div>

          <div class="mt-2">
            <a href="#" class="d-block text-dark border rounded p-1 border-info"><i class='bx bxs-crown bx-tada'></i>
              Featured</a>
          </div>
        </div>
        {% if post.list_img %}
        <a href="#"><img class="w-100" src="{{ post.list_img.url }}" alt="" style="height: 200px;"></a>
        {% endif %}
        <div class="px-3 py-4">
          <a href="#" class="d-block">
            <h5 class="text-dark h6" style="font-weight: 600;">{{post.location}}, {{post.county}}</h5>
          </a>
          <h4 class="text-danger">Ksh. {{post.rent}} <small class="text-danger">{% if post.deposit %}+ deposit{% else %}{% endif %}</small></h4>

          <small class="mt-1">{{post.body}}</small>

        </div>
        <div class="p-3 bg-info" style="background: #00B4DB;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0083B0, #00B4DB);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
          <div class="d-flex mr-4 justify-content-between">
            <h2><a href="tel:{{post.agent_mob}}" class="text-light"><i class='bx bxs-phone-call'></i></a></h2>
            <h2><a href="https://wa.me/{{post.agent_whats}}" class="text-light"><i class='bx bxl-whatsapp'></i></a></h2>
            <h2><a href="mailto:{{post.agent_mail}}" class="text-light"><i class='bx bx-envelope'></i></a></h2>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</div>

<hr>
<section class="random">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center" style="font-weight:900;">Spaces for rent</h3>
      </div>
      {% for post in house %}
      <div class="col-lg-4 col-sm-12 col-md-4 mb-3">
        <div class="house-card">
          <div class="house-header-images">
            {% if post.list_img %}
            <a href="#"><img src="{{ post.list_img.url }}" /></a>
            {% endif %}
          </div>
          <div class="house-content">
            <div class="house-header">
              <div class="title">
                <p class="type">{{post.location}} &middot; {{post.county}} </p>
                {% for cat in post.categories.all %}
                <small><a href="{% url 'category' cat.slug %}" class="text-info">{{ cat.title }}</a></small>
                {% endfor %}
                <p class="price">Ksh {{post.rent}}</p>
                <p class="location">{{ post.body }}</p>
              </div>
            </div>
            <hr />
            <div class="house-info">
              <div>
                <svg style="width:26px;height:26px" viewBox="0 0 24 18">
                  <path fill="#c7cace"
                    d="M21,14V15C21,16.91 19.93,18.57 18.35,19.41L19,22H17L16.5,20C16.33,20 16.17,20 16,20H8C7.83,20 7.67,20 7.5,20L7,22H5L5.65,19.41C4.07,18.57 3,16.91 3,15V14H2V12H20V5A1,1 0 0,0 19,4C18.5,4 18.12,4.34 18,4.79C18.63,5.33 19,6.13 19,7H13A3,3 0 0,1 16,4C16.06,4 16.11,4 16.17,4C16.58,2.84 17.69,2 19,2A3,3 0 0,1 22,5V14H21V14M19,14H5V15A3,3 0 0,0 8,18H16A3,3 0 0,0 19,15V14Z" />
                </svg> <span class="dark-font bold">{{post.bathroom}}</span> <span class="bold">Bathrooms</span>
              </div>
              <div>
                <svg style="width:26px;height:26px" viewBox="0 0 24 13">
                  <path fill="#c7cace" d="M19,7H5V14H3V5H1V20H3V17H21V20H23V11A4,4 0 0,0 19,7" />
                </svg> <span class="dark-font bold">{{post.bedrooms}}</span> <span class="bold">Bedrooms</span>
              </div>
            </div>
            <hr />
            <div class="house-realtor">
              <div>
                <p class="heading bold">{{post.agent}}</p>
                <img class="realtor-image"
                  src="{{ post.agent_img.url }}" />
                <div class="d-flex mr-4 justify-content-between">
                  <h2><a href="tel:{{post.agent_mob}}" class="text-dark"><i class='bx bxs-phone-call'></i></a></h2>
                  <h2><a href="https://wa.me/{{post.agent_whats}}" target="_blank" class="text-dark"><i class='bx bxl-whatsapp'></i></a></h2>
                  <h2><a href="mailto:{{post.agent_mail}}" class="text-dark"><i class='bx bx-envelope'></i></a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}



    </div>
  </div>
</section>



{% endblock content %}