@media (min-width: 1200px) {
  input {
    width: 500px;
    padding: 12px 20px;
    
  }

  .searchbox {
    height: 70vh;
   
  }
}

@media (max-width: 991px) {
    input {
        font-size: 12px;
      }

    
}

@media (max-width: 768px) {
    input {
        font-size: 12px;
      }

    
}

@media (max-width: 575px) {
    input {
        font-size: 12px;
      }

    
}

@media (max-width: 575px),
(max-height: 600px) {
    input {
        font-size: 12px;
      }

   
}